


.navbar {
    background-color: #ffd700; 
    width: 100%;
    padding: 15px 0;
    margin: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.navbar-brand {
    color: #333; 
    font-size: 1.5rem;
    font-weight: bold;
}


.navbar .nav-link {
    text-decoration: none;
    color: #333; 
    margin-right: 30px;
    font-size: 1.2rem; 
    padding: 10px 15px;
    border-radius: 5px;
}


.navbar .nav-link:hover {
    background-color: #fff; 
    color: #333;
    text-decoration: none; 
}


.navbar .nav-link:last-child {
    margin-right: 0;
}


.navbar .navbar-collapse {
    justify-content: space-evenly;
}


.container-fluid {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
}


